<head>
    <meta charset="utf-8" />
    <title>GeoCompany - услуги по геологическим исследованиям юридическим и физическим лицам</title>
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="GeoCompany - услуги по геологическим исследованиям юридическим и физическим лицам">
    <meta property="og:description" content="Услуги по геологическим исследованиям юридическим и физическим лицам">
    <meta property="og:url" content="#">
    <meta property="og:site_name" content="GeoCompany - услуги по геологическим исследованиям юридическим и физическим лицам">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/favicon_16х16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/favicon_32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon_96x96.png" sizes="96x96">

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>