<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand" style="padding: 5px;" title="Услуги по геологическим исследованиям юридическим и физическим лицам">
                <img src="~/img/icon.svg" width="40" />
            </a>
        </div>
        <div class="navbar-collapse collapse top-menu">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Заявки</a></li>
                    <li class="dropmenu">@await Component.InvokeAsync("UserMain", @User.Identity.Name)</li>
                }
            </ul>
        </div>
    </div>
</nav>