body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Century Gothic',sans-serif;
}

.body-content {
    padding-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    border: unset;
    padding: 0;
}

    button:active, button:focus {
        outline: none;
    }

    button::-moz-focus-inner {
        border: 0;
    }

#btn-add:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

hr {
    border: 0;
    height: 1px;
    background: #bd1b20;
    background-image: -webkit-linear-gradient(left, #fff, #bd1b20, #fff);
    background-image: -moz-linear-gradient(left, #fff, #bd1b20, #fff);
    background-image: -ms-linear-gradient(left, #fff, #bd1b20, #fff);
    background-image: -o-linear-gradient(left, #fff, #bd1b20, #fff);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.date {
    color: #999;
    font-size: 11px;
}

.fa {
    color: #bd1b20;
}

.navbar {
    background-color: #bd1b20;
    height: 50px;
}

    .navbar a {
        color: #fff;
    }

.navbar-nav li {
    list-style-type: none;
}

.navbar-nav > li > a:hover {
    background-color: #fba;
    color: #red;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0 3px 3px 0;
}

input::-webkit-input-placeholder {
    font-size: 11px;
}

.input-group-addon {
    width: 125px;
}

.col-md-4, .col-md-8 {
    text-align: -webkit-center;
}

    .col-md-8 .input-group-addon {
        width: 200px;
    }

.embleme {
    max-width: 200px;
}

.form-control, .input-group-addon {
    border-color: #bd1b20;
}

.col-md-8 .form-control {
    width: 300px;
}

.col-md-12 .form-control {
    width: 220px;
}

.form-control:focus {
    box-shadow: 0 0 10px #fba;
    border-color: #fba;
}

.row .form-group .input-group textarea {
    resize: none;
    padding: 5px;
    border-radius: 0 3px 3px 0;
}

textarea {
    min-height: 120px;
}
/******************/
.btn-default {
    border-color: #d43f3a;
}

    .btn-default:hover {
        border-color: #d43f3a;
    }

.pagination > .active > span {
    background-color: #bd1b20;
    border-color: #fba;
    color: #ccc;
}

.pagination > li > a {
    color: #fba;
}

.pagination > .active > span:hover {
    background-color: #fba;
    border-color: #bd1b20;
}

.top-menu ul {
    margin: 0;
    padding: 0;
}

    .top-menu ul li {
        display: inline-block;
        padding-left: 300px;
        list-style-type: none;
    }

        .top-menu ul li a {
            display: inline-block;
            margin: 0 10px;
            text-transform: uppercase;
            -moz-transition: all 0.35s ease 0s;
            -o-transition: all 0.35s ease 0s;
            -webkit-transition: all 0.35s ease 0s;
            transition: all 0.35s ease 0s;
        }

            .top-menu ul li a:hover {
                color: #999;
            }

.top-menu .top-catalog a {
    color: #fff;
    text-transform: none;
}

/********** Админ меню ******************************/
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 12px;
}

.dropmenu {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top-menu .dropmenu a {
    text-transform: none;
    margin-left: 0;
    width: 100%;
}

.dropmenu ul li {
    width: 100%;
    padding-left: 0;
}

.top-menu .dropmenu .li {
    text-transform: uppercase;
    font-size: 14px;
}

.top-menu .dropdown .caret,
.top-menu .dropmenu .li {
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #fba;
}

.dropdown-name {
    font-size: 12px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover {
        background-color: #ddd;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.photo {
    height: 25px;
    border-radius: 100px;
    border: 1px solid #fba;
}

.photoBig {
    width: 50px;
    border: 1px solid #bd1b20;
    border-radius: 100px;
}

    .photoBig:hover {
        border-color: #fba;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(255,164,150,0.3);
        -moz-box-shadow: 0px 4px 8px 0px rgba(255,164,150,0.3);
        box-shadow: 0px 4px 8px 0px rgba(255,164,150,0.3);
    }
/********************/

.table-hover tbody tr:hover {
    background-color: #fba;
}

.table a {
    color: #bd1b20;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #bd1b20;
}

.table > thead > tr > th {
    border-bottom: 2px solid #bd1b20;
}

#list {
    margin-bottom: 50px;
}

#statistic .table-hover tbody tr {
    cursor: pointer;
}
/****************************/
.filter {
    margin-bottom: 40px;
}

    .filter .col-md-12 .brigade-select {
        width: 200px;
        border-radius: 0;
    }

    .filter .col-md-12 .input-group-addon {
        background-color: #fba;
    }

    .filter .col-md-12 .input-group input[type=text] {
        width: 160px;
        border-radius: 0;
    }

    .filter .col-md-12 .input-group input[type=checkbox] {
        width: 50px;
    }

    .filter .col-md-12 .form-group:last-child {
        position: absolute;
        top: 0;
        right: 0;
    }

    .filter .col-md-12 .btn-primary {
        border-color: #bd1b20;
        background-color: #fff;
    }

    .filter .col-md-12 .btn:hover {
        background-color: #fba;
    }
