@model Order

@{
    ViewData["Title"] = "Удалить заявку";
}

<h2 class="text-center">Удалить заявку</h2>
<hr />
<div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Вы действительно хотите удалить заявку №@Model.Id "@Model.Name"?</h3>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-actions">
                    <input type="submit" value="Удалить" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-default">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>