@model Order
@{
    ViewData["Title"] = "Редактировать заявку";
}

<h2 class="text-center">Редактировать заявку</h2>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" />
            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Secretary"))
            {
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Заявка</span>
                        <input asp-for="Name" type="text" class="form-control" required placeholder="Укажите краткое наименование заявки" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Описание</span>
                        <textarea class="form-control" asp-for="Description" placeholder="Опишите задание подробно" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Бригады</span>
                        <select id="RoleId" name="BrigadeId" class="form-control" data-live-search="true">
                            @foreach (var item in ViewBag.Brigade)
                            {
                                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
            }
            @if (User.IsInRole("Master"))
            {
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Примечание</span>
                        <textarea class="form-control" asp-for="Memo" placeholder="Укажите детали выполненной работы" required></textarea>
                    </div>
                </div>
            }
            <div class="form-group text-center">
                <input type="submit" value="Сохранить" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>
