@model string
@{
    ViewData["Title"] = "Заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h3>Упс, что-то пошло не так! Обратитесь к Администратору!</h3>
    </div>
