
@{
    ViewData["Title"] = "Доступ запрещён";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="access">
    <h2>Доступ запрещён</h2>
    <div class="bg-danger panel-body">
        <h4>Для доступа, необходимо пройте авторизацию, либо Вам закрыт доступ! Обратитесь к Администратору сайта. </h4>
    </div>
</div>


